
<div class = "Login">
<h1>Log In</h1>


<!-- error msg for invalid input -->
 <% if flash[:warning] %>
      <div class="flash">
        <%= flash[:warning] %>
      </div>
    <% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>
</div>



<div>
<%= link_to "Sign Up!", '/signup' %>
</div>
