
<div class = "Login">
<h1>Log In</h1>


<!-- msg = Account not activated. Check your email for the activation link. -->
<!-- msg = Incorrect username and/or password -->
<!-- msg = Email sent with password reset instructions -->
 <% if flash[:warning] %>
      <div class="alert alert-warning">
        <%= flash[:warning] %>
      </div>
 <% end %>
    

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  
  <%= f.label :password %>
  <%= link_to "(forgot password)", new_password_reset_path %> 
  <%= f.password_field :password %>
  
  <%= f.submit "Log in" %>
<% end %>
</div>



<div>
<%= link_to "Sign Up!", '/signup' %>
</div>
