<br>
<div class = "Login">
<h1><center>Log In</center></h1>

<br>
<!-- error msg for invalid input -->
 <% if flash[:warning] %>
      <div class="flash">
        <%= flash[:warning] %>
      </div>
    <% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
  <br>
  <center><%= link_to "(forgot password)", new_password_reset_path %> </center>
  
  
  
<% end %>
</div>



<div>
<%= link_to "Sign Up!", '/signup' %>
</div>
