<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= user.identifier %>: <%= user.first_name %> 
  password: <%= user.password %> 
  usernam:  <%= user.username %>
</div>