<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= user.identifier %>: <%= user.name %> 
  phone: <%= user.phone %>
  password: <%= user.password %> 
  cash: <%= user.cash %>
  usernam:  <%= user.username %>
</div>