<br>
<h1>EDIT PROFILE </h1>
    
 <br>
 <%= form_for @user do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %>
  <br>
  <%= f.label :email %>:
  <%= f.text_field :email %>
  <br>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>:
  <%= f.text_field :last_name %>

  <br><br>
  <b>Enter password to confirm changes</b>
  <br>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation%>

  <%= f.submit "Save Changes" %>
<% end %> 


 
 


