<h1> New Users Page (Sign Up) </h1>
 <br>
  <% if @user.errors.any?%>
    <div id="error_explanation">
    Errors:
    <ul>
      <% @user.errors.full_messages.each do |msg|%>
      <li><%= msg%></li>
      <%end%>
    </ul>
    </div>
   <%end%>

 <%= form_for @user do |f| %>
  
  <%= f.label :username%>:
  <%= f.text_field :username%>
  <br>
  <%= f.label :email %>:
  <%= f.text_field :email %>
  <br>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>:
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation%>
  <br>
  <%= f.label :birth_Month %>:
  <%= date_select("article", "written_on", :start_year => 1995, :end_year => Date.current.year, :order => [:month, :day, :year]) %>

  <br>
  <%= f.submit "Sign Up" %>
<% end %> 


